// Main page styles
body, html {
    margin: 0;
    padding: 0;
    font-family: $font-body;
    font-size: 12pt;
    background-color: $primary-medium;
    color: $primary-dark;
}

%button {
    border: 0;
    outline: 0;
    background-color: $accent-1;
    padding: 5px 15px;
    font-size: 12pt;
    cursor: pointer;
    color: $primary-light;
    border-radius: 5px;
}

%button-hover {
    background-color: $accent-2;
    color: $accent-1;
}

%heading {
    width: 70%;
    margin: 30px;
    border-bottom: 2px solid $accent-1;
    text-align: center;
}

.heading {
    @extend %heading;
}

%container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    @extend %container;
}

.main-btn {
    @extend %button;
}

.main-btn:hover {
    @extend %button-hover;
}

.display {
    font-family: $font-display;
    font-size: 42pt;
    line-height: 0;
}

#mapid { height: 500px; }
