// Main page styles
body, html {
    margin: 0;
    padding: 0;
    font-family: $font-body;
    font-size: 12pt;
    background-color: $primary-medium;
    color: $primary-dark;
}

%button {
    border: 0;
    outline: 0;
    background-color: $accent-1;
    padding: 5px 15px;
    font-size: 12pt;
    cursor: pointer;
    color: $primary-light;
    border-radius: 5px;
}

%button-hover {
    background-color: $accent-2;
    color: $accent-1;
}

%heading {
    width: 70%;
    margin: 30px;
    border-bottom: 2px solid $accent-1;
    text-align: center;
}

.heading {
    @extend %heading;
}

%container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    @extend %container;
}

.main-btn {
    @extend %button;
}

.main-btn:hover {
    @extend %button-hover;
}

.display {
    font-family: $font-display;
    font-size: 42pt;
    line-height: 0;
}

#mapid { height: 500px; }

.home-wrapper {
    position: relative;
    background-image: url('../../images/book-stack.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-inner {
    min-width: 400px;
    text-align: center;
    padding: 40px 100px;
    margin-left: 160px;
    background-color: $transparent-dark;
    border-radius: 5px;
    border: 4px solid $green-transparent;
}

.home-header {
    color: $blue-transparent;
    font-size: 72pt;
    line-height: 0;
    text-shadow: 2px 2px $primary-medium;
}

.home-tagline {
    color: $primary-light;
    font-style: italic;
    font-size: 16pt;
    line-height: .75;
}

.home-btn {
    line-height: 3;
    font-size: 14pt;
    width: 100px;
    margin: 30px;
    padding: 10px;
    text-decoration: none;
    color: $accent-2;
    border-bottom: 2px solid $accent-1;
}

.home-btn:hover {
    color: $primary-light;
    // border-bottom: 2px solid $primary-light;
}