//Book list view styles
.list-container {
    @extend %container;
    width: 100%;
}

.list-info {
    @extend %book-card;
    border: 2px solid $accent-2;
    border-radius: 5px;
    width: 40%;
    align-items: center;
}

.list-info > div {
    padding-left: 20px;
}

.currently-reading {
    width: 50%;
}

.to-read {
    width: 50%;
}

.previously-read {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.action {
    margin: 10px;
}