.chart-container{
    @extend %container;
    background-color: $primary-light;
    width: 80%;
    margin: 0 auto;
    border: 2px solid $accent-2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.chart-pie {
    padding: 20px;
}

// .continent-list {
//     display: flex;
//     justify-content: space-between;
//     margin: 20px 80px;
// }