%input {
    outline: 0;
    border: 0;
    padding: 5px;
    font-size: 12pt;
    width: 250px;
    border-bottom: 2px solid $accent-1;
    margin: 10px 0px;
}

%form {
    @extend %container;
    justify-content: center;
}

select {
    outline: 0;
    font-size: 12pt;
    border: 1px solid $primary-light;
    background-color: $accent-2;
    color: $accent-1;
    margin: 10px 0px;
}

.filter-medium {
    @extend %input;
    background-color: $primary-medium;
}

.read-filter {
    width: 380px;
}

.form {
    @extend %form;
}

.form-container {
    border: 2px solid $accent-2;
    padding: 20px;
    width: 40%;
    text-align: center;
    margin: 10px auto;
    // margin-top: 30px;
    background-color: $primary-light;
}

.user-input {
    @extend %input;
    background-color: transparent;
    font-size: 14pt;
    color: white;
}

.user-alert {
    font-size: 12pt;
    padding: 10px;
    color: darkred;
}

.form-link {
    text-decoration: none;
    color: $primary-dark;
    padding: 10px;
    font-size: 14pt;
}

.form-link:hover {
    color: $accent-1;
}

.form-btn {
    @extend %button;
    font-size: 14pt;
}

.form-btn:hover {
    @extend %button-hover;
}

.filter {
    @extend %input;
    background-color: $primary-light;
}

.review-form {
    @extend %form;
    position: relative;
    width: 80%;
    height: 250px;
    justify-content: flex-start;
}

.review-text {
    font-size: 12pt;
    width: 50%;
    top: 70px;
    outline: 0;
    border: 0;
    border: 4px solid $accent-2;
    background-color: $primary-light;
    position: absolute;
}


