%input {
    outline: 0;
    border: 0;
    padding: 5px;
    font-size: 12pt;
    width: 250px;
    border-bottom: 2px solid $accent-1;
    margin: 10px 0px;
}

%form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    outline: 0;
    font-size: 12pt;
    border: 1px solid $primary-light;
    background-color: $accent-2;
    color: $accent-1;
    margin: 10px 0px;
}

.filter-medium {
    @extend %input;
    background-color: $primary-medium;
}

.user-form {
    @extend %form;
}

.form-container {
    border: 2px solid $accent-2;
    padding: 20px;
    width: 40%;
    text-align: center;
    margin: 10px auto;
    // margin-top: 30px;
    background-color: $primary-light;
}

.user-input {
    @extend %input;
    background-color: $primary-light;
    font-size: 14pt;
}

.user-alert {
    font-size: 12pt;
    padding: 10px;
    color: darkred;
}

.form-link {
    text-decoration: none;
    color: $primary-dark;
    padding: 10px;
    font-size: 14pt;
}

.form-link:hover {
    color: $accent-1;
}

.form-btn {
    @extend %button;
    font-size: 14pt;
}

.form-btn:hover {
    @extend %button-hover;
}

.search-form {
    @extend %form;
}

.filter {
    @extend %input;
    background-color: $primary-light;
}