select {
    outline: 0;
    font-size: 10pt;
    border: 1px solid $primary-light;
    background-color: $accent-2;
    color: $accent-1;
    margin: 10px 0px;
}

input {
    outline: 0;
    border: 0;
    padding: 5px;
    font-size: 10pt;
    width: 250px;
    border-bottom: 2px solid $accent-1;
    background-color: $primary-medium;
    margin: 10px 0px;
}

.filter-list {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}