%book-card {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: $primary-light;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-info {
    @extend %book-card;
    border: 2px solid $accent-2;
    border-radius: 5px;
    width: 40%;
    flex-direction: column;
}

.book-details {
    display: flex;
}

.book-details > div {
    padding: 0px 20px;
}

.book-cover {
    border-radius: 5px;
    object-fit: none;
    margin-top: 20px;
}

.book-title {
    color: $accent-1;
    font-size: 14pt;
}

.book-action {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.book-action > a {
    text-decoration: none;
    color: $accent-1;
    margin: 0px 20px;
}

.book-action > a:hover {
    color: $accent-2;
}

.search-books {
    width: 90%;
}

.add-book {
    display: flex;
    flex-direction: column;
    width: 175px;
}

.book-description {
    width: 70%;
}

.info-container {
    width: 30%;
}

.details-link {
    text-decoration: none;
}

.details-link:hover {
    color: $accent-2;
}