%book-card {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: $primary-light;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-info {
    @extend %book-card;
    border: 2px solid $accent-2;
    border-radius: 5px;
    width: 90%;
    flex-direction: column;
}

.book-details {
    display: flex;
    width: 400px;
}

.book-details > div {
    padding: 0px 20px;
}

.main-info {
    display: flex;
}

.book-cover {
    border-radius: 5px;
    object-fit: none;
    margin-top: 20px;
}

.book-action {
    margin-left: 85%;
}

.book-title {
    color: $accent-1;
}

.book-description {
    width: 60%;
    display: flex;
    align-items: center;
}

.book-description > p {
    font-size: 8pt;
}