$font-display: 'Satisfy', cursive;
$font-body: 'Open Sans', sans-serif;
$primary-light: #F8F7FC;
$primary-medium: #ECEBF0;
$primary-dark: #1B1C1B;
$accent-1: #5AAB94;
$accent-2: #C9ED67;
$accent-3: #524A36;

%book-card {
  display: flex;
  margin: 10px;
  padding: 10px;
  background-color: $primary-light;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: $font-body;
    font-size: 10pt;
    background-color: $primary-medium;
    color: $primary-dark;
  }

  select {
    outline: 0;
    font-size: 10pt;
    border: 1px solid $primary-light;
    background-color: $accent-2;
    color: $accent-1;
    margin: 10px 0px;
  }

  input {
    outline: 0;
    border: 0;
    padding: 5px;
    font-size: 10pt;
    width: 250px;
    border-bottom: 2px solid $accent-1;
    background-color: $primary-medium;
    margin: 10px 0px;
  }
  
  .instructions h1 {
    font-family: $font-display;
    font-size: 72px;
    line-height: 0;
    font-weight: lighter;
  }
  
  .instructions {
    background-color: $accent-1;
    color: $primary-medium;
    padding: 5px;
    border-bottom: 4px solid $accent-2;
    text-align: center;
  }

  .instructions .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .header-link a {
    color: $primary-medium;
    text-decoration: none;
    padding: 5px;
  }

  .header-btn {
    font-family: $font-body;
    border: 0;
    outline: 0;
    background-color: $accent-1;
    color: $primary-light;
    cursor: pointer;
  }

  .header-btn:hover {
    color: $accent-2;
  }
  
  #entryForm {
    margin-top: 14px;
  }
  
  #container {
    margin-top: 10px;
  }
  
  .container p{
    margin-top : 14px;
  }
  
  .message {
    padding: 10px 0;
  }
  
  .message p {
    margin-left: 10px;
  }
  
  // .message:nth-child(odd) {
  //    background-color: #eeeeee;
  // }
  
  // .message:nth-child(even) {
  //   background-color: #f8f8f8;
  // }
  
  .btn-danger{
    margin-left: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: $accent-2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: $primary-medium;
  }
  

  // Continent-Overview

  // .continent-container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  // .continent-info {
  //   padding: 20px;
  // }

  .book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .book-info {
    @extend %book-card;
    border: 2px solid $accent-2;
    border-radius: 5px;
    width: 90%;
    flex-direction: column;
  }

  .book-details {
    display: flex;
    width: 400px;
  }

  .book-details > div {
    padding: 0px 20px;
  }

  .main-info {
    display: flex;
  }

  .book-cover {
    border-radius: 5px;
    object-fit: none;
    margin-top: 20px;
  }

  .book-action {
    margin-left: 85%;
  }


  .book-title {
    color: $accent-1;
  }

  .book-description {
    width: 60%;
    display: flex;
    align-items: center;
  }

  .book-description > p {
    font-size: 8pt;
  }

  .main-btn {
    border: 0;
    outline: 0;
    background-color: $accent-1;
    padding: 5px 15px;
    font-size: 10pt;
    cursor: pointer;
    color: $primary-light;
    border-radius: 5px;
  }

  .main-btn:hover {
    background-color: $accent-2;
    color: $accent-1;
  }

  .filter-list {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-heading {
    width: 70%;
    margin: 10px;
    border-bottom: 2px solid $accent-1;
    text-align: center;
  }

  .list-info {
    @extend %book-card;
    border: 2px solid $accent-2;
    border-radius: 5px;
    width: 30%;
  }

  .list-info > div {
    padding-left: 20px;
  }

.currently-reading {
  width: 50%;
}

.to-read {
  width: 50%;
}

.previously-read {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: $accent-1; /* Black background color */
  color: $primary-light; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 10px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.chart-container{
  background-color: $primary-light;
  width: 80%;
  margin: 0 auto;
  border: 2px solid $accent-2;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.chart-container > h1 {
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid $accent-1;
  padding: 10px;
}

.chart-pie {
  padding: 20px;
}

.continent-list {
  display: flex;
  justify-content: space-between;
  margin: 20px 80px;
}
