$font-display: 'Satisfy', cursive;
$font-body: 'Open Sans', sans-serif;
$primary-light: #ECEBF0;
$primary-medium: #C1C0C4;
$primary-dark: #1B1C1B;
$accent-1: #6A7F79;
$accent-2: #C1CE96;

body, html {
    margin: 0;
    padding: 0;
    font-family: $font-body;
    font-size: 14px;
    background-color: $primary-medium;
    color: $primary-dark;
  }
  
  .instructions h1 {
    font-family: $font-display;
    font-size: 72px;
    line-height: 0;
    font-weight: lighter;
  }
  
  .instructions {
    background-color: $accent-1;
    color: $primary-light;
    padding: 5px;
    border-bottom: 4px solid $accent-2;
    text-align: center;
  }

  .instructions .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .header-link a {
    color: $primary-light;
    text-decoration: none;
    padding: 5px;
  }

  .header-btn {
    font-family: $font-body;
    border: 0;
    outline: 0;
    background-color: $accent-1;
    color: $primary-light;
    cursor: pointer;
  }

  .header-btn:hover {
    color: $accent-2;
  }
  
  #entryForm {
    margin-top: 14px;
  }
  
  #container {
    margin-top: 10px;
  }
  
  .container p{
    margin-top : 14px;
  }
  
  .message {
    padding: 10px 0;
  }
  
  .message p {
    margin-left: 10px;
  }
  
  // .message:nth-child(odd) {
  //    background-color: #eeeeee;
  // }
  
  // .message:nth-child(even) {
  //   background-color: #f8f8f8;
  // }
  
  .btn-danger{
    margin-left: 10px;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: $accent-2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: $primary-light;
  }
  

  // Continent-Overview

  .continent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .continent-info {
    padding: 20px;
  }

  .book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .book-info {
    width: 40%;
    display: flex;
    margin: 10px;
    border: 2px solid $accent-2;
    border-radius: 5px;
    padding: 10px;
    background-color: $primary-light;
  }

  .book-cover {
    border-radius: 5px;
    object-fit: none;
  }

  .book-info > div {
    padding-left: 20px;
  }

  .book-title {
    color: $accent-1;
  }

  .main-btn {
    border: 0;
    outline: 0;
    background-color: $accent-1;
    padding: 5px 15px;
    font-size: 10pt;
    cursor: pointer;
    color: $primary-light;
    border-radius: 5px;
  }

  .main-btn:hover {
    background-color: $accent-2;
    color: $accent-1;
  }

  .filter-list {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }