<div class="header">
    <h1 class="lead">wanderlit</h1>
    <div class="container">
        <div class="navbar">
            <div class="container">
                <ul>
                    <li><a href="#!continents-overview">Overview</a></li>
                    <li><a href="#!add-book">Add Book</a></li>
                </ul>
            </div>
        </div>
        <div>
            <button class="header-btn" ng-click="vm.userService.logout()">Log Out</button>
        </div>
    </div>
</div>