<div class="header">
    <div class="header-container">
        <div class="navbar">
            <ul>
                <li><a href="#!home"><i class="book-icon fas fa-book"></i></a></li>
                <li><a href="#!book-lists">Book Lists</a></li>
                <li><a href="#!overview">Overview</a></li>
                <li><a href="#!book-browse">Browse</a></li>
            </ul>
        </div>
        <div class="header-link">
            <button class="header-btn" ng-click="vm.userService.logout()">Log Out</button>
        </div>
    </div>
</div>
    