<div class="header">
    <h1 class="lead">wanderlit</h1>
    <div class="header-container">
        <div class="navbar">
            <ul>
                <li><a href="#!book-lists">Book Lists</a></li>
                <li><a href="#!overview">Overview</a></li>
                <li><a href="#!book-search">Search</a></li>
            </ul>
        </div>
        <div class="header-link">
            <a href="#!profile">My Profile</a>
            <button class="header-btn" ng-click="vm.userService.logout()">Log Out</button>
        </div>
    </div>
</div>
    