<header ng-include="'/views/partials/admin-header.html'"></header>

<form ng-submit="vm.findBooks(vm.bookSearch)">
    <div>
        <input type="text" ng-model="vm.bookSearch" />
    </div>
    <div>
        <input class="btn btn-default" type="submit" name="submit" value="Search" />
    </div>
</form>

<div ng-repeat="book in vm.goodreadsBooks.list">
    <div class="book-container">
        <img ng-src="{{book.best_book.image_url._text}}" alt="">
        <p>Title: {{book.best_book.title._text}}</p>
        <p>Author: {{book.best_book.author.name._text}}</p>
        <p>Published: {{book.original_publication_year._text}}</p>
        <p>Rating: {{book.average_rating._text}}</p>

        <select ng-model="vm.selectedContinent">
            <option ng-repeat="continent in vm.continents">{{continent}}</option>
        </select>
        <button ng-click="vm.addBook(book, vm.selectedContinent)">Add Book</button>
    </div>
</div>
