<header ng-include="'/views/partials/admin-header.html'"></header>

<form ng-submit="vm.findBooks(vm.bookSearch)">
    <div>
        <input type="text" ng-model="vm.bookSearch" />
    </div>
    <div>
        <input class="btn btn-default" type="submit" name="submit" value="Search" />
    </div>
</form>

<div class="book-container" ng-repeat="book in vm.goodreadsBooks.list">
    <div class="book-info">
        <div class="main-info">
            <div>
                <img class="book-cover" ng-src="{{book.best_book.image_url._text}}" alt="">
            </div>
            <div>
                <h3 class="book-title">{{book.best_book.title._text}}</h3>
                <p>Author: {{book.best_book.author.name._text}}</p>
                <p>Published: {{book.original_publication_year._text}}</p>
                <p>Rating: {{book.average_rating._text}}</p>
            </div>
            <div class="book-description">
                <h4>Description</h4>
                <p>{{book.description}}</p>
            </div>
        </div>
        
        <div class="book-action">
        <select ng-model="book.selectedContinent" ng-options="continent.name for continent in vm.continents.list">
                <option value="">Select a continent</option>
        </select>  
        <button class="main-btn" ng-click="vm.addBook(book, book.selectedContinent)">Add Book</button>
        </div>
    </div>
</div>
