<header ng-include="'/views/partials/user-header.html'"></header>


<!-- <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1> -->
<div class="list-container">
    <div class="list-heading">
        <h3>Currently Reading</h3>
    </div>
    <div class="list-info currently-reading" ng-repeat="book in vm.currentlyReading.list">
        <div>
            <img class="book-cover" ng-src="{{book.cover_url}}" alt="">
        </div>
        <div>
            <p class="book-title">{{book.title}}</p>
            <p>By {{book.author}}</p>
            <p>{{book.continent}}</p>
            <button ng-click="vm.changeBookStatus(book.book_id, 'previously_read')" class="main-btn">Mark Complete</button>
            <button ng-click="vm.removeBookFromLists(book.book_id)" class="main-btn">Stop Reading</button>
        </div>
    </div>
</div>

<div class="list-container">
    <div class="list-heading">
        <h3>To Read</h3>
    </div>
        <div class="list-info to-read" ng-repeat="book in vm.toRead.list">
            <div>
                <img class="book-cover" ng-src="{{book.cover_url}}" alt="">
            </div>
            <div>
                <p class="book-title">{{book.title}}</p>
                <p>By {{book.author}}</p>
                <p>{{book.continent}}</p>
                <button ng-click="vm.changeBookStatus(book.book_id, 'currently_reading')" class="main-btn">Start Reading</button>
                <button ng-click="vm.removeBookFromLists(book.book_id)" class="main-btn">Delete</button>
            </div>
        </div> 
</div>

<div class="list-container">
    <div class="list-heading">
        <h3>Previously Read</h3>
    </div> 
    <div class="previously-read">   
        <div class="list-info" ng-repeat="book in vm.previouslyRead.list">
            <div>
                <img class="book-cover" ng-src="{{book.cover_url}}" alt="">
            </div>
            <div>
                <p class="book-title">{{book.title}}</p>
                <p>By {{book.author}}</p>
                <p>{{book.continent}}</p>
                <button ng-click="vm.removeBookFromLists(book.book_id)" class="main-btn">Delete</button>
            </div>
        </div>
    </div>
</div>

