<header ng-include="'/views/partials/user-header.html'"></header>

<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>

    <div>
        <h1>Currently Reading</h1>
        <div ng-repeat="book in vm.currentlyReading.list">
            <img ng-src="{{book.cover_url}}" alt="">
            <p>{{book.title}}</p>
            <p>By {{book.author}}</p>
            <button class="main-btn">Mark Complete</button>
        </div>
    </div>

    <div>
        <h1>To Read</h1>
        <ul>
            <li ng-repeat="book in vm.toRead.list">{{book.title}} by {{book.author}} <button class="main-btn">Start Reading</button></li>
        </ul>
    </div>

    <div>
        <h1>Previously Read</h1>
        <div ng-repeat="book in vm.previouslyRead.list">
            {{book}}
        </div>
    </div>
</div>
