<header ng-include="'/views/partials/user-header.html'"></header>

<div id="snackbar">Added book successfully.</div>

<div class="filter-list">
        <div>
            <label>Select a continent: </label>
            <select ng-change="vm.getBooks(vm.selectedContinent)" ng-model="vm.selectedContinent" ng-options="continent.name for continent in vm.continents.list">
                    <option value="">All</option>
            </select>
        </div>
         <div>
            <label>Search: </label>
            <input type="text" id="query" ng-model="query">
         </div>
    </div>
    
    
    <div class="book-container">
        <div class="book-info" ng-repeat="book in vm.books.list | filter:query">
            <div class="main-info">
                <div class="book-details">
                    <div>
                        <img class="book-cover" ng-src="{{book.cover_url}}" alt="">
                    </div>
                    <div>
                        <h3 class="book-title">{{book.title}}</h3>
                        <p>By {{book.author}}</p>
                        <p>Rating: {{book.average_rating}}</p>
                        <p>Published: {{book.year_published}}</p>
                        <p>{{book.continent}}</p>
                    </div>
                </div>
                <div class="book-description">
                    <p>{{book.description}}</p>
                </div>
            </div>
            <div class="book-action">
                <select ng-model="book.status">
                    <option value="">Select a list</option>
                    <option value="to_read">To Read</option>
                    <option value="currently_reading">Currently Reading</option>
                    <option value="previously_read">Previously Read</option>
                </select>
                <button ng-click="vm.addBookToList(book)" class="main-btn">Add</button>
            </div>
        </div>
    </div>
    