<header ng-include="'/views/partials/user-header.html'"></header>

<div id="snackbar">Added book successfully.</div>

<div class="container">
    <h2 class="single-title">{{vm.singleBook.book.title}}</h2>

    <div class="book-info single-book">
        <div class="book-details single-details">
            <div>
                <img class="book-cover" ng-src="{{vm.singleBook.book.cover_url}}" alt="">
            </div>
            <div class="single-info">
                <h3>Book Information</h3>
                <p>{{vm.singleBook.book.title}}</p>
                <p>By {{vm.singleBook.book.author}}</p>
                <p>{{vm.singleBook.book.continent}}</p>
                <p><i>Published in {{vm.singleBook.book.year_published}}.</i></p>
                <div class="single-actions">
                    <label>Add this book to a reading list:</label>
                    <select ng-model="vm.singleBook.book.status">
                        <option value="">Select a list</option>
                        <option value="to_read">To Read</option>
                        <option value="currently_reading">Currently Reading</option>
                        <option value="previously_read">Previously Read</option>
                    </select>
                    <button ng-click="vm.checkBookLists(vm.singleBook.book)" class="main-btn">Add</button>
                </div>
            </div>
            <div class="single-description">    
                <h3>Description</h3>
                <p ng-bind-html="vm.renderHtml(vm.singleBook.book.description)"></p>
            </div>
        </div>

        <div class="reviews-container">
            <h3>Ratings/Reviews</h3>
            <jk-rating-stars max-rating="5" rating="vm.singleBook.book.average_rating" read-only="true"></jk-rating-stars>
            <p>Average Rating: {{vm.singleBook.book.average_rating}}</p>
            <div class="reviews-list">
                <div class="review" ng-if="vm.bookReviews.list.length === 0">
                    <p>No reviews have been added for this book yet.</p>
                </div>
                <div class="review" ng-repeat="review in vm.bookReviews.list">
                    <p>"{{review.review}}" -{{review.username}}</p>
                    <p>({{review.rating}}/5 stars)</p>
                </div>
            </div>
        </div>
    </div>
</div>