<header ng-include="'/views/partials/admin-header.html'"></header>

<!-- Overview section -->
<!-- <div>
    <h3>Overview of Books</h3>
    <div class="continent-container">
        <div class="continent-info" ng-repeat="continent in vm.continents.list">
            <p>{{continent.name}}</p>
            <p>Books: #</p> 
        </div>
    </div>
</div> -->

<!-- Manage books section -->
<div class="filter-list">
    <div>
        <label>Select a continent: </label>
        <select ng-change="vm.getBooks(vm.selectedContinent)" ng-model="vm.selectedContinent" ng-options="continent.name for continent in vm.continents.list">
            <option value="">All</option>
        </select>  
    </div>
     <div>
        <label>Search: </label>
        <input type="text" id="query" ng-model="query">
     </div>
</div>


<div class="book-container">
    <div class="book-info" ng-repeat="book in vm.books.list | filter:query | orderBy: '-average_rating' ">
        <img class="book-cover" ng-src="{{book.cover_url}}" alt="">
        <div>
            <h3 class="book-title">{{book.title}}</h3>
            <p>By {{book.author}}</p>
            <p>Rating: {{book.average_rating}}</p>
            <p>Published: {{book.year_published}}</p>
            <button ng-click="vm.deleteBook(book.id)" class="main-btn">Delete</button>
        </div>
    </div>
</div>
