<header ng-include="'/views/partials/admin-header.html'"></header>


<!-- Manage books section -->
<div class="container">
    <h2 class="list-heading">Manage Books</h2>
        <div class="search-form">
            <div>
                <select ng-change="vm.getBooks(vm.selectedContinent)" ng-model="vm.selectedContinent" ng-options="continent.name for continent in vm.continents.list">
                    <option value="">All continents</option>
                </select>  
            </div>
            <div>
                <input class="filter-medium"  type="text" id="query" ng-model="query" placeholder="Filter by title/author">
            </div>
        </div>
</div>
<div class="book-container">
    <div class="book-info" ng-repeat="book in vm.books.list | filter:query | orderBy: '-average_rating' ">
        <div class="main-info">
            <div class="book-details">
                <div>
                    <img class="book-cover" ng-src="{{book.cover_url}}" alt="">
                </div>
                <div>
                    <h3 class="book-title">{{book.title}}</h3>
                    <p>By {{book.author}}</p>
                    <p>Rating: {{book.average_rating}}</p>
                    <p>Published: {{book.year_published}}</p>
                    <p>{{book.continent}}</p>
                </div>
            </div>
        </div>
        <div class="book-action"> 
            <a href="#!/book/{{book.id}}">More Details</a>           
            <button ng-click="vm.deleteBook(book.id)" class="main-btn">Delete</button>
        </div>
    </div>
</div>
