<header ng-include="'/views/partials/user-header.html'"></header>

<div class="chart-container">
  <h1 class="heading">Overview of Books Read</h1>
  <h3>Total Books: {{vm.totalBooksRead.total[0]}}</h3>
  <ul ng-if="vm.totalBooksRead.total[0] > 0" class="continent-key">
    <div class="continent-list">
      <li><i id="africa-key" class="key-icon fas fa-square"></i>Africa</li>
      <li><i id="asia-key" class="key-icon fas fa-square"></i>Asia</li>
      <li><i id="australia-key" class="key-icon fas fa-square"></i>Australia</li>
    </div>
    <div class="continent-list">
      <li><i id="europe-key" class="key-icon fas fa-square"></i>Europe</li>
      <li><i id="northamerica-key" class="key-icon fas fa-square"></i>North America</li>
      <li><i id="southamerica-key" class="key-icon fas fa-square"></i>South America</li>
    </div>
  </ul>
  <canvas ng-if="vm.totalBooksRead.total[0] > 0" id="doughnut" class="chart chart-doughnut"
  chart-data="vm.data" chart-labels="vm.labels" chart-options="vm.options">
  </canvas>
  <div ng-if="vm.totalBooksRead.total[0] == 0">
    <p>You haven't added any books to your 'Previously Read' list yet. Once you add a book, we'll show you your overview.</p>
  </div>
</div>
