.book-info, .list-info {
  display: flex;
  margin: 10px;
  padding: 10px;
  background-color: #F8F7FC; }

body, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #ECEBF0;
  color: #1B1C1B; }

.instructions h1 {
  font-family: "Satisfy", cursive;
  font-size: 72px;
  line-height: 0;
  font-weight: lighter; }

.instructions {
  background-color: #5AAB94;
  color: #ECEBF0;
  padding: 5px;
  border-bottom: 4px solid #C9ED67;
  text-align: center; }

.instructions .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.header-link a {
  color: #ECEBF0;
  text-decoration: none;
  padding: 5px; }

.header-btn {
  font-family: "Open Sans", sans-serif;
  border: 0;
  outline: 0;
  background-color: #5AAB94;
  color: #F8F7FC;
  cursor: pointer; }

.header-btn:hover {
  color: #C9ED67; }

#entryForm {
  margin-top: 14px; }

#container {
  margin-top: 10px; }

.container p {
  margin-top: 14px; }

.message {
  padding: 10px 0; }

.message p {
  margin-left: 10px; }

.btn-danger {
  margin-left: 10px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

li {
  float: left; }

li a {
  display: block;
  color: #C9ED67;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none; }

li a:hover {
  color: #ECEBF0; }

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.book-info {
  border: 2px solid #C9ED67;
  border-radius: 5px;
  width: 90%;
  flex-direction: column; }

.book-details {
  display: flex;
  width: 400px; }

.book-details > div {
  padding: 0px 20px; }

.main-info {
  display: flex; }

.book-cover {
  border-radius: 5px;
  object-fit: none;
  margin-top: 20px; }

.book-action {
  margin-left: 85%; }

.book-title {
  color: #5AAB94; }

.book-description {
  width: 60%;
  display: flex;
  align-items: center; }

.book-description > p {
  font-size: 8pt; }

.main-btn {
  border: 0;
  outline: 0;
  background-color: #5AAB94;
  padding: 5px 15px;
  font-size: 10pt;
  cursor: pointer;
  color: #F8F7FC;
  border-radius: 5px; }

.main-btn:hover {
  background-color: #C9ED67;
  color: #5AAB94; }

.filter-list {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.list-heading {
  width: 70%;
  margin: 10px;
  border-bottom: 2px solid #5AAB94;
  text-align: center; }

.list-info {
  border: 2px solid #C9ED67;
  border-radius: 5px;
  width: 30%; }

.list-info > div {
  padding-left: 20px; }

.currently-reading {
  width: 50%; }

.to-read {
  width: 50%; }

.previously-read {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #5AAB94;
  /* Black background color */
  color: #F8F7FC;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 10px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */ }

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
.chart-container {
  background-color: #F8F7FC;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #C9ED67;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }

.chart-container > h1 {
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid #5AAB94;
  padding: 10px; }

.chart-pie {
  padding: 20px; }

.continent-list {
  display: flex;
  justify-content: space-between;
  margin: 20px 80px; }

/*# sourceMappingURL=main.css.map */
